<%= form_with(model: task, local:true) do |form| %>


<div class="field">
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :content %><br>
        <%= form.text_area :content %>
    </p>
</div>

<div class="actions">
    <%= form.submit %>
</div>

<br>

<% end %>